*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(231, 226, 219);
    display: grid;
    place-items: center;
    min-height: 100vh;
}
.container{
    width: 700px;
    height: 400px;
    background: #ecf0f1;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 #000;
}

.left_side{
    padding-left: 10px;
    position: absolute;
    width: 250px;
    height: 359px;
    background: #00d2d3;
    border-radius: 10px 0 0 10px;
}
.left_side h1{
    margin-top: 50px;
    text-align: center;
    font-size: 2.5rem;
    color: #ecf0f1;
    font-weight: 900;
    letter-spacing: 2px;
}
.p_g_t{
    text-align: center;
    display: grid;
    place-items: center;
    min-height: 30vh;
}
.p_g_t h2{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 20px 0;
}
.content .right_side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30%;
    padding-top: 5%;
    min-width: 70vw;
    min-width: 50vh;   
}
.right_side input{
   margin: 10px 0;
    width: 300px;
    height: 30px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 0.9rem;
}
.right_side button{
    width: 150px;
    height: 40px;
    background: #00d2d3;
    color:#ecf0f1;
    margin-top: 10px;
    border: none;
    outline: none;
    font-size: medium;
    font-weight: 900;
    border-radius: 30px;
    cursor: pointer;
}
.result{
    position: absolute;
    bottom: 22.9vh;
        width: 250px;
    height: 50px;
    background: #01a3a4;
    border-radius: 0 0 0 10px;
}
.result h2{
    text-align: center;
    line-height: 20px;
    font-size: 1.23rem;
    color: #ecf0f1;
    font-weight: 900;
    letter-spacing: 2px;   
}